@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #18181b;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #303030 inset !important;
    -webkit-text-fill-color: #e5e5e5 !important;
    transition: background-color 5000s ease-in-out 0s;
}